.ExampleComponent {
  margin: calc(100vh / 18);
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    .rColumn {
      width: calc(100vh / 9);
      height: calc(100vh / 9);
      background-color: white;
      border:1px solid grey;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
}
